@import '../../assets/styles/variables';

.base-check {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 16px;
  margin: 8px 0;

  & > .label {
    width: 30%;
    min-width: 80px;
    text-align: right;
    font-size: 14px;
  }

  & > .check-box {
    width: 20px;
    
    & > .input {
      width: 100%;
      border-radius: 2px;
      padding: 12px;
      border: none;
    }
  }

  & > .note {
    margin-top: -8px;
    margin-left: calc(30% + 8px);
    padding-left: 12px;
    font-size: 12px;
    color: $gray_color;
  }
}
