@import '../../assets/styles/variables';

.search-bar {
  width: 320px;
  position: relative;

  & input {
    padding: 12px;
    padding-right: 32px;
    width: calc(100% - 44px);
    border: none;

    border-radius: 2px;
    outline: 1px solid $light_gray;
    &:focus {
      outline: 1px solid $primary_color;
    }
  }

  & .search-icon {
    position: absolute;
    cursor: pointer;
    color: $primary_color;
    padding: 12px 8px;
    width: 16px;
    height: 16px;
    right: 0;
    top: 0;

    &:hover {
      background-color: $light_gray;
    }
  }
}