$primary_color: #2672fb;
$primary_hover_color: #39acfb;

$secondary_color: #e66023;
$secondary_hover_color: #ff8147;

$danger_color: #ff2e57;
$danger_hover_color: #ff4d70;

$dark_color: #211d2f;
$dark_hover_color: #393547;

$success_color: #00c776;
$success_hover_color: #4cc8a3;

$border_color: #CCC;
$border_color2: #EEE;
$separator_color: #AAA;
$background_color: #111f42;

$light_gray: #EEE;
$gray_color: #888;
$dark_gray: #444;

